*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    transition: 1s ease-in;


}

.one {
    background: red;
}
.two {
    background: blue;
    transition-delay: 1s;


}

div#main:hover .one, div#main:hover .two  {
    width: 300px;
    transition: 1s ease-in;
}

div#main:hover .two  {
    transition-delay: 1s;
}